/*유니코드 다국어 설정*/
@charset "utf-8";

body {
  background-image: url(../image/bg.png);
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color:#333333;
}

headr{
  width: 900px;
  margin: 0 auto 44px;
}

h1 {
  text-align: center;
  padding: 20px 0px 16px;
}
/* headr nav ul와 같이 쉼표없이 나열하면
계층에 속하는 태그만 적용 되는데,
쉼표가 header, nav, ul 이렇게 있으면
해당태그의 요소 전부 다 선택하는 것을
'자손선택자'라고 합니다*/
header nav ul {
  display: flex;
  justify-content: center;
  border-top: 2px solid rgb(34, 33, 33);
  border-bottom: 2px solid rgb(34, 33, 33);
  background-color: bisque;
  padding: 10px 0px;
}

header nav ul li {
  margin: 0 20px;
  font-weight: 700;
}
/*마우스를 대면 조건을 만족하는 경우를
 a:hovor로 나타냅니다*/

header nav ul li a:hovor {
text-decoration: underline double;
}

/*body태그에 직접 flex를 써버리면 body 아래 다른 자식 태그에도
영향을 끼치게 됩니다
그래서 태그 자체로는 의미가 없는 태그를 사용해서
flex 등의 정렬 기능을 적용합니다
그것이 이전에 언급한 <div></div> & <span></span> 태그 입니다
문서구조에 영향을 주지 않으면서 html을 그룹화할 때 사용*/

div{
  width: 900px;
  margin: 0 auto 44px;
  display: flex;
}
