body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(235, 214, 255);
}

h1 {
    font-size: 52px;
    color:rgb(88, 49, 196);
}

header {
    text-align: center;
    padding: 32px;
}

header img {
    width: 300px;

}

main {
    width: 700px;
    margin: 32px auto;
    background-color: rgb(136, 64, 233);
    padding: 32px;
    border-radius: 8px;
    color: rgb(235, 214, 255)
}

/* 살짝 reset css 기능 */
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* 왼쪽에 10px 여백을 두고 상하단 여백 14px설정 
왼쪽에 투명한 굵은 선을 그어줬다 (지금은 우리눈에 안보임)*/
li {
    margin: 14px;
    padding-left: 10px;
    border-left: 5px solid transparent;
}

.extra-important {
    color: rgb(255,237,177);
    border-color: rgb(255,237,177);
}

a {
    text-decoration: none;
    color: rgb(36,3,102);
    background-color: rgb(255,237,177);
    padding: 2px 6px;
    border-radius: 4px;
}
/* a:active는 a링크를 클릭하는 동안이란 뜻 */
a:hover, a:active {
    background-color: rgb(241, 233, 83);
}

footer {
    text-align: center;
    margin-bottom: 100px;
}

footer a {
    padding: 12px 20px;
    border-radius: 8px;
    background-color: rgb(250,201,39);
}

footer a:hover {
    background-color: rgb(255,188,58);
}